html, body {
  margin: 0;
  height: 100%;
  background: black;
}

canvas {
  position: absolute;
}
section {
  z-index: 2;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 0 0 -70px;
}

a {
  text-decoration: none;
  color: white;
}
